ALPACA_API_KEY=AKTNKFENLKVSLAPQVEKBIQSSS7
ALPACA_SECRET_KEY=6TeBoy4xR3R49sTfTYisHeYCMbEgFGFixgJ2p8pLZ1v3
ANTHROPIC_API_KEY=

# catalog_watcher.py
BLACKSKY_API_KEY=7ZKGZCFSSCAELH5XWTIMLS5D2D5EOEEJ
LINE_CHANNEL_ACCESS_TOKEN=
LINE_TO_ID=
SLACK_WEBHOOK_URL=
